@font-face {
/*
  font-family: "FZCuJinLing";
  src: url('../font/FZCuJinLJW.ttf') format('truetype');
*/
  /* the url starts with "../" cuz we are at "./font" */
  font-family: "GenWanMin";
  src: url('../font/GenWanMin-SB.ttf') format('truetype');
}

body{
    margin: 0px;
}

.navContainer{
    background-color: #700ab4;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navSubContainer{
    background: #52146e;
    margin: 5px 10px;
    border-radius: 10%;
}

.navSubContainer:hover{
    background-color: #5f0c46;
}

.navBack {
    color: white;
    font-size: 30px;
    margin: 10px 30px;
    font-weight: normal;
}

.navLife{
    display: inline-flex;
    justify-content: center;
}

.navLifeIcon{
    width: 20%;
    display: block;
}

.navLifeText{
    color: white;
    font-size: 30px;
    margin: 10px 30px;
    font-weight: normal;
}

.navMessage{
    color: white;
    font-size: 30px;
    margin: 10px 30px;
    font-weight: normal;
}

.appContainer{
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex; /* safari */
}


.subboxApp{
    border: 1px dashed black; /* TBD */
    flex: 1;
    min-height: 900px;
    background: #ffeeee; /* TBD */
}

.boxStatement {
    font-size: 40px;
    font-family: "GenWanMin";
    display: flex;
    flex-direction: column;
}

.statementContainer {
    flex: 1;
}

.xinghuo {
    flex: 1.65;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}


#ai_io_range {
    width: 95%;
    height: 50px;
    margin: auto;
    /*justify-content: space-around;*/
    display: flex;
}

#ai_input {
    flex: 5;
    border: 2px dotted blue;

    font-size: 25px;
    font-family: "GenWanMin";
}

#ai_btn {
    font-size: 25px;
    font-family: "GenWanMin";

    flex: 1;
    background-color: #5D7CFF;
}

#ai_result {
    width: 95%;
    height: 345.337px;

    align-self: center;
    margin: 10px 15px;

    overflow-y: scroll;

    background-color: #E2EEFF;
    white-space: pre-line;
}

.dialog_single {
    font-size: 20px;
    font-family: "GenWanMin";
}

.dialog_single_man {
    color: #ff6f3c;
}

.dialog_single_man::before {
    color: #1e2022;
    content: '用户：';
}

.dialog_single_AI {
    color: #52616b;
}

.dialog_single_AI::before {
    color: #1e2022;
    content: 'AI：';
}

.boxAO{
    display: flex;
    flex-direction: column;
}

.subboxAO{
    border: 1px solid black; /* TBD */
    border-radius: 0px; /* TBD */
    background-color: #aaccff; /* TBD */
    /*user-select: none;*/

    line-height: 300%;
}

.boxAnswer{
    flex: 1;
}

.boxOption{
    flex: 1.5;

    padding: 20px;
}

.boxToolbar{
    flex: 0.25;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.subboxToolbar{
    flex: 1;
    border: 0px solid black;
    background-color: #ff9a3c;

    font-size: 30px;
    font-family: "GenWanMin";

    &:hover {
        background-color: #ffc93c;
    }

    &:disabled {
        color: #d2d5db;
        background-color: #6c7589;
    }
}

.answer{
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 5px 10px;

    display: inline-block;
    /* min-width: 80px; */
    height: 45px; /* set to font size + 5px */

    font-size: 40px;
    font-family: "GenWanMin";

    background-color: transparent;

    text-align: center;

    border: 2px dashed #000000;
    border-radius: 12px;

    transition-duration: 0.2s;

    &:hover {
        color: #ff6f3c;
        border: 2px dashed #ff6f3c;
    }
}

.option_btn{
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 7px 2px 7px;


    background-color: #ff6f3c;
    color: white;
    border: none;
    border-radius: 12px;

    font-size: 40px;
    font-family: "GenWanMin";
    
    display: inline-block;
    text-align: center;

    transition-duration: 0.2s;
/*
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12);
*/
    &:hover {
        background-color: #ff9a3c;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12);
    /*
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    */
    }


    &:disabled {
        color: #ffffffa0;
        background-color: #155263;
    }
}


.optionIPA {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    font-size: 18px;
}

.optionText {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.statementToken {
    font-size: 40px;
    font-family: "GenWanMin";
    
    display: inline-block;
    text-align: center;
}


.statementIPA {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    font-size: 15px;
}

.statementText {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.statementContainer, .answerContainer {
    min-height: 55px;
    border-radius: 15px;
    border: none;
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #ffdfbc;
    position:relative;
}
/*
.statementContainer::after, .answerContainer::after{
    display:block;
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    left: 25px;
    bottom: -14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffdfbc;
}*/


/* modal */
/* 弹窗容器 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 弹窗内容 */
.modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 2px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* 其余样式保持不变 */

/* 添加动画 */
@keyframes animatetop {
    from {
        transform: translate(-50%, -300px);
        /* 从页面中心向上偏移 */
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        /* 移动到页面中心 */
        opacity: 1;
    }
}



.modal-header {
    padding: 2px 16px;
    background-color: #700ab4;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    justify-content: space-around;
}

.modal-choose {
    margin: var(--l) var(--xl);
    padding: var(--s) var(--l);
    font-size: 55px;
}

.modal-title {
    font-size: 30px;
}

.modal-title1 {
    font-size: 30px;
}

.playStatementSound {
    background-color: transparent;
    
    border: 3px solid;
    border-radius: 12px;
    text-align:center;

    display: inline-block;
}
